@page
@model WebApp.Pages.ViewConfig

@{
    ViewData["Title"] = "Config view";
}

<div class="container-fluid p-5 bg-primary text-white text-center h-50"
     id="header">
    <h1>LOOK</h1>
    <h5>Configuration details</h5>
</div>

<button onclick="history.back()" class="btn btn-light">Go back</button>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow-sm rounded p-4" id="config-container">
            <div class="text-center">
                <div class="mb-3">
                    <strong>Configuration Name:</strong>
                    <span>@Model.ConfigurationName</span>
                </div>
                <div class="mb-3">
                    <strong>Board Width:</strong>
                    <span>@Model.Width</span>
                </div>
                <div class="mb-3">
                    <strong>Board Height:</strong>
                    <span>@Model.Height</span>
                </div>
                <div class="mb-3">
                    <strong>Player 1 Symbol:</strong>
                    <span>@Model.Player1Symbol</span>
                </div>
                <div class="mb-3">
                    <strong>Player 2 Symbol:</strong>
                    <span>@Model.Player2Symbol</span>
                </div>
                <div class="mb-3">
                    <strong>Starting Player:</strong>
                    <span>Player @Model.StartingPlayer</span>
                </div>
                <div class="mb-3">
                    <strong>Movable Grid Size:</strong>
                    <span>@Model.MovableGridSize x @Model.MovableGridSize</span>
                </div>
                <div class="mb-3">
                    <strong>Winning Condition:</strong>
                    <span>@Model.WinningCondition</span>
                </div>
                <div class="mb-3">
                    <strong>Initial Moves:</strong>
                    <span>@Model.InitialMoves</span>
                </div>
                <div class="mb-3">
                    <strong>Player Pieces:</strong>
                    <span>@Model.MaxPieces</span>
                </div>
            </div>
        </div>
    </div>
</div>
