@page
@model WebApp.Pages.ViewConfig

@{
    ViewData["Title"] = "Config view";
}

<div class="container-fluid p-5 bg-primary text-white text-center"
     id="header">
    <h1>LOOK</h1>
    <h5>Configuration details</h5>
</div>

<div class="container py-2">
    <div class="row justify-content-center">
        <div class="col-md-6 shadow-sm rounded p-4" style="background-color: #fbedff;">
            <div class="text-center">
                <div class="mb-2">
                    <strong>Configuration name:</strong> @Model.ConfigurationName
                </div>
                <div class="mb-2">
                    <strong>Board width:</strong> @Model.Width
                </div>
                <div class="mb-2">
                    <strong>Board height:</strong> @Model.Height
                </div>
                <div class="mb-2">
                    <strong>Player 1 symbol:</strong> @Model.Player1Symbol
                </div>
                <div class="mb-2">
                    <strong>Player 2 symbol:</strong> @Model.Player2Symbol
                </div>
                <div class="mb-2">
                    <strong>Starting player:</strong> Player @Model.StartingPlayer
                </div>
                <div class="mb-2">
                    <strong>Movable grid size:</strong> @Model.MovableGridSize x @Model.MovableGridSize
                </div>
                <div class="mb-2">
                    <strong>Winning condition:</strong> @Model.WinningCondition
                </div>
                <div class="mb-2">
                    <strong>Initial moves:</strong> @Model.InitialMoves
                </div>
                <div class="mb-2">
                    <strong>Player pieces:</strong> @Model.MaxPieces
                </div>
            </div>
        </div>
    </div>
</div>