@page
@model WebApp.Pages.Configs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].ConfigName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Player1Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].Player2Symbol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].StartingPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].MovableGridSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].WinningCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].InitialMoves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].MaxPieces)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Configuration[0].CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Configuration) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfigName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player1Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player2Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovableGridSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPieces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
